/*****************************************
Player Search Form
******************************************/
.player-form {
  border-radius: 5px;
  padding: 20px;
  width: 40%;
  text-align: center;
  margin-top: 20px;
}

  .player-form p {
    color: green;
    font-size: 20px;
  }

  .player-form input[type=text], textarea, select {
    float: right;
    width: 50%;
    padding: 10px;
    border: 1px solid #B1A7A5;
    border-radius: 4px;
    resize: vertical;
    height: 20%;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

    .player-form input[type=text]:focus, textarea:focus, select:focus {
      border: 1px solid #EA3057;
      outline: none;
    }

  .player-form input[type=submit] {
    background-color: #5B5553;
    color: #F4F5F6;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    .player-form input[type=submit]:hover {
      background-color: #B1A7A5;
    }

  .player-form label {
    display: inline-block;
    float: left;
    text-align: right;
    width: 200px;
    color: #191919;
  }

  .player-form p:after {
    content: "";
    display: table;
    clear: both;
  }

/*****************************************
Event Search Form
******************************************/
.event-form {
  border-radius: 5px;
  padding: 20px;
  width: 40%;
  text-align: center;
  margin-top: 20px;
}

  .event-form p {
    color: green;
    font-size: 20px;
  }

  .event-form input[type=text], textarea, select {
    float: right;
    width: 50%;
    padding: 10px;
    border: 1px solid #B1A7A5;
    border-radius: 4px;
    resize: vertical;
    height: 20%;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  .event-form select{

  }

    .event-form input[type=text]:focus, textarea:focus, select:focus {
      border: 1px solid #EA3057;
      outline: none;
    }

  .event-form input[type=submit] {
    background-color: #5B5553;
    color: #F4F5F6;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    .event-form input[type=submit]:hover {
      background-color: #B1A7A5;
    }

  .event-form label {
    display: inline-block;
    float: left;
    text-align: right;
    width: 200px;
    color: #191919;
  }

  .event-form p:after {
    content: "";
    display: table;
    clear: both;
  }

/*****************************************
Contact Form
******************************************/
.contact-form {
  border-radius: 5px;
  padding: 20px;
  width: 40%;
  text-align: center;
  margin-top: 20px;
}

  .contact-form p {
    font-size: 20px;
  }

  .contact-form input[type=text], textarea {
    float: right;
    width: 75%;
    padding: 10px;
    border: 1px solid #B1A7A5;
    border-radius: 4px;
    resize: vertical;
    height: 20%;
  }

    .contact-form input[type=text]:focus, textarea:focus {
      border: 1px solid #EA3057;
      outline: none;
    }

  .contact-form input[type=submit] {
    background-color: #5B5553;
    color: #F4F5F6;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    .contact-form input[type=submit]:hover {
      background-color: #B1A7A5;
    }

  .contact-form label {
    display: inline-block;
    float: left;
    text-align: right;
    width: 100px;
    color: #191919;
  }

  .contact-form p:after {
    content: "";
    display: table;
    clear: both;
  }

  .contact-form ul {
    list-style-type: none;
  }
