/*****************************************
Main Navigation Links
******************************************/
.navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #5B5553;
}

.navbar li {
  float: left;
  border-right: 1px solid #B1A7A5;
}

  .navbar li:last-child {
    float: right;
    border-left: none;
  }
  
  .navbar li:nth-last-child(2) {
    float: right;
  }

  .navbar li:nth-last-child(3) {
    border-right: none;
  }

.navbar a {
  display: block;
  color: #F4F5F6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #B1A7A5;
}

/*****************************************
Event Search Nav Links
******************************************/
.player-navbar {
  overflow: hidden;
  background-color: #5B5553;
  padding: 14px 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-bottom: 10px;
}
  .dropdown a:hover {
    background-color: #B1A7A5;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    outline: none;
    color: #F4F5F6;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #B1A7A5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  color: #F4F5F6;
}

.dropdown:hover .dropdown-content {
  display: block;
}