/*****************************************
Main Style
******************************************/
body {
  background-color: #E5E5E5;
  display: block;
  font-family: sans-serif;
}

.content h1 {
  text-align: center;
  color: #191919;
}

.content h2 {
  text-align: center;
  color: #191919;
}