/*****************************************
Main Style
******************************************/
body {
  background-color: white;
  display: block;
  font-family: Georgia;
}

.content h1, h2 {
  text-align: center;
}
