{% extends './base.html'  %}

{% block content %}
<h1> Welcome to my Website </h1>

<div class='about'>
  <p>
  This is the temporary home of my capstone project. While far from perfect, I wanted
  to show off what I have been working on for the past semester. Any feedback on 
  the concept, design, or functionality is appreciated.
  <p>
  
  <p>
  The goal of this project is to create a tool that will allow people to 
  get information about specific E-Sports players. Users will be able to search
  for either a player or an event from a list of games. A summary will then be 
  provided based on the articles this program finds. I believe that the deeper
  your connection is with the players the more invested you will be when watching
  those players. Knowing something about players is the first step in building those
  connection.  
  </p>
</div>
{% endblock content %}