{% load static %}

<!doctype html>

<html lang="en">
  <head>
      <meta charset="utf-8">
      
      {% block title %}
      <title>Capstone Project</title>
      {% endblock title %}
      
      <link rel="stylesheet" type="text/css" href="{% static 'esports/style.css' %}" />
  </head>

  <body>
      <div class='body'>
        <div class='navbar'>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'playersearch' %}">Player Search</a></li>
              <li><a href="{% url 'eventsearch' %}">Event Search</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        
        {% block content %}
          
        <p>Don't Show This</p>
          
        {% endblock content %}
     </div>
  </body>

  <footer>

  </footer>
</html>