{% extends './base.html'  %}
{% load static %}
{% load esports_extras %}

{% block title %}
<title>Event Results</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'esports/information.css' %}" />
{% endblock style %}

{% block javascript %}

<script>  
  function loadInfo(name, game) {
    $("#" + name).html("Getting Player Info...");
    $.ajax({
      url: "{% url 'eventinformation' %}",
      type: 'get',
      data: {
        'player': name,
        'game': game,
      },
      success: function (data) {
        $("#" + name).html(data);
      },
      failure: function (data) {
        $("#" + name).html("Loading...");
      }

    });
  }
</script>

{% endblock javascript %}

{% block content %}
<ul class="player-navbar">
  {% for team in sorted_team_player_list %}
  <li class="dropdown">
    <a href="{% url 'eventresultsteam' game event_name team %}" class="dropbtn">{{team}}</a>
    <div class="dropdown-content">
      {% for player in sorted_team_player_list|get_dict_item:team %}
      <p>{{player}}</p>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>

<h1>{{event_name|get_title_from_url}}</h1>
<h2>{{team_name|get_title_from_url}}</h2>

<div id="players-info" class="event-info">
  {% for player in sorted_team_player_list|get_dict_item:team_name %}
  <div>
    <h3>{{player}}</h3>
    <ul id="{{player}}">
      {% for sentence in sorted_team_player_list|get_dict_item:team_name|get_dict_item:player %}
      <li>{{ sentence|lstrip }} </li>
      {% endfor %}      
      <button onclick="loadInfo('{{player}}', '{{game}}')"> 
      Find Information
      </button>
    </ul>
  </div>
  {% endfor %}
</div>

{% endblock content %}