{% extends './base.html'  %}
{% load esports_extras %}

{% block title %}
    <title>Event Results</title>
{% endblock title %}

{% block content %} 

    <ul>
        {% for team in sorted_team_player_list %}
            <li class="dropdown">
                <a href="{% url 'eventresultsteam' event_name team %}" class="dropbtn">{{team}}</a>
                <div class="dropdown-content">
                    {% for player in sorted_team_player_list|get_dict_item:team %}
                    <p>{{player}}</p>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
    
    <h1>{{ event_name }}</h1>
    
    <h2>{{team_name}}</h2>
    {% for player in sorted_team_player_list|get_dict_item:team_name %}
        <h3>{{player}}</h3>
        <ul>
        {% for sentence in sorted_team_player_list|get_dict_item:team_name|get_dict_item:player %}
            <li>{{ sentence|lstrip }} </li>
        {% endfor %}
        </ul>
    {% endfor %}

{% endblock content %}