{% extends './base.html'  %}
{% load static %}

{% block title %}
<title>Event Search</title>
{% endblock title %}

{% block javascript %}

<script>
  $("#submi-button").click(function() {
     $(".event-form").hide();
     $("#loading").show();
  });
</script>

{% endblock javascript %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'esports/form.css' %}" />
{% endblock style %}

{% block content %}
<p id="loading" style="display:none">Getting Players List...</p>

<div class="event-form">
  <form action='/eventsearch/' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Search Event" id="submit-button"/>
  </form>
</div>

{% endblock content %}