{% extends './base.html'  %}
{% load static %}
{% load esports_extras %}

{% block content %}

<div class="searched"> 
    <h2>Top 5 Searched Players</h2>
    
    {% if player_list %} 
    <ul>
      {% for player in player_list %}
      <a href="{% url 'playerresults' player.name player.game %}">
      <li>
        <b>Name: </b>{{ player.name|get_title_from_url }} <br>
        <b>Game: </b>{{ player.game|get_title_from_url }} <br>
        <b>Count: </b>{{ player.count }} <br>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% else %}
    <p>No Players Found</p>
    {% endif %}

    <h2>Top 5 Searched Events</h2>
    
    {% if event_list %} 
    <ul>
      {% for event in event_list %}
      <a href="{% url 'playerresults' event.name event.game %}">
      <li>
        <b>Name: </b>{{ event.name|get_title_from_url }} <br>
        <b>Game: </b>{{ event.game|get_title_from_url }} <br>
        <b>Count: </b>{{ event.count }} <br>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% else %}
    <p>No Events Found</p>
    {% endif %}
</div>

{% endblock content %}