{% extends './base.html'  %}
{% load static %}

{% block title %}
<title>Player Search</title>
{% endblock title %}

{% block javascript %}

<script>
  $("#submit-butto").click(function() {
     $(".player-form").hide();
     $("#loading").show();
  });
</script>

{% endblock javascript %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'esports/form.css' %}" />
{% endblock style %}

{% block content %}

<p id="loading" style="display:none">Getting Player Information...</p>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

<div class="player-form">
  <form action='/playersearch/' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Search Player" id="submit-button"/>
  </form>
</div>

{% endblock content %}