{% extends './base.html'  %}
{% load static %}
{% load esports_extras %}

{% block title %}
<title>Player Results</title>
{% endblock title %}

{% block javascript %}

<script>
function myFunction() {
    $.ajax({
      url: "{% url 'summarylength' %}",
      type: 'get',
      success: function (data) {
        location.reload();
      },

    });
}
</script>

{% endblock javascript %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'esports/information.css' %}" />
{% endblock style %}

{% block content %}

<div class="player-info">
  <h3>{{ player_name }}</h3>
  <ul>
    {% for article in summary %}
    <a href={{article}} target="_blank"> <h2> {{article}} </h2> </a>
      {% for sentence in summary|get_dict_item:article %}
      <li>{{ sentence|lstrip }} </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>

<button type='button' onclick='myFunction()'>Add One Sentence</button>

{% endblock content %}